terraform.tfstate
.terraform/plugins/selections.json
.terraform/plugins/registry.terraform.io/hashicorp/vsphere/1.24.3/windows_amd64/terraform-provider-vsphere_v1.24.3_x4.exe
.terraform/providers/registry.terraform.io/hashicorp/vsphere/1.24.3/windows_amd64/terraform-provider-vsphere_v1.24.3_x4.exe
.terraform.lock.hcl
terraform.tfstate.backup
